%header.intro
  .intro-body
    .container
      .jumbotron
        %h1 Reserv8es
        %p Getting you the reservation you want!
        %p
          %a.btn.btn-primary.btn-large{:href => new_customer_path}
            Sign Up