.welcome-background
.welcome-container
  .title
    welcome to reserv8!

    .subtitle
      making the best reservations available to you.

  =link_to "login", new_session_path
  =link_to "signup", new_customer_path
