.jumbotron
  background-color: rgba(0,0,0,0.7)

.intro
  padding-top: 80px
  text-align: center
  height: 580px
  color: #f0f0f0
  background: image_url('pastis.png') no-repeat center center
  background-size: cover

