
.jumbotron
  background-image: image_url('pastis.png')
  background-repeat: no-repeat
  background-size: 100%
  background-position-y: -250px
  padding: 0px
  margin: -20px
  height: 400px

  color: black
  


